.header{
	grid-area: header;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 10px;
	padding-top: 3px;
	display: grid;
	grid-template-columns: 7% 83% 10%;
		
}
.header img{
	width: 80px;
	height: 40px;
	
}

.logo{
	font-size: 20px;
	margin-left: -10px;
	font-weight: 700;
}
.logo__c{
	color: blue;
	font-size: 25px;
}

.item__2{
	margin-top: 3px;
}
.item__3{
	margin-top: 10px;
}

.ht{
	font-size: 16px;
	font-weight: 700;

}
.ht__r{
	font-size: 16px;
	font-weight: 700;
	color: red;
}