
.header{
	display: grid;
	grid-template-columns: 73px 10fr 1fr;
	grid-template-areas: "item__1 item__2 item__3";
}

.item__1 img{
	grid-area: item__1;
	width: 70px;
	height: 40px;
	padding-top: 3px;
	padding-left: 3px;
}


.item__2{
	grid-area: item__2;
	padding-top: 15px;
}
.logo{
	font-size: 20px;
	color: #000;

}
.logo__c{
	color: red;
}

.item__3{
	grid-area: item__3;
	padding-top: 15px;
}
.ht{
	font-size: 16px;
	color: #000;
}
.ht__r{
	color: red;
}