.app-wrapper{
	display: grid;
	grid-template-areas: 
	"header header"
	"nav cont";
	grid-template-rows: 50px 1fr;
	grid-template-columns: 17% 83%;
	grid-gap: 15px;

	margin: 0 auto;
	width: 1200px;
	font-family: 'Nanum Gothic', sans-serif;
}


.app-wrapper__click{
	grid-area: cont;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 10px;

}



@media  (max-width: 700px){
		.app-wrapper{
		display: grid;
		grid-template-areas: 
		"header"
		"nav"
		"cont";
		grid-template-rows: 50px 1fr 2fr;
		grid-template-columns: 490px;
		grid-gap: 10px;

		width: 500px;
		
	}

}