.dislogs{
	display: grid;
	grid-template-areas: "name message"
						"name new";
							
	grid-template-columns: 20% 80%;
	

}

.person{
	grid-area: name;
	position: relative;
}
.person:after{
	content: "";
	width: 3px;
	height: 90%;
	background-color: #000;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 40px;

}

.message{
	grid-area: message;

}

.new{
	grid-area: new;
}