.dislogs{
	display: grid;
	grid-template-areas: "name message";
	grid-template-columns: 20% 80%;

}

.name{
	grid-area: name;
	position: relative;
}
.name:after{
	content: "";
	width: 3px;
	height: 90%;
	background-color: #000;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 40px;

}

.name__item{
	text-align: center;
	font-size: 20px;
	line-height: 100px;

}
.name__item a{
	text-decoration: none;
	font-size: 18px;
	color: #000;
}
.name__item a.active{
	color: blue;
	font-weight: 700;
	font-size: 20px;
}


.message{
	grid-area: message;

}
.massage__item{
	border: 1px solid blue;
	margin: 50px 200px;
	padding: 30px;
	
}